# Make vim the default editor
export EDITOR="code";
export GIT_EDITOR="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# JAVA HOME
export JAVA_HOME=`/usr/libexec/java_home -v 1.8`;

# Disable homebrew analytics
# @see https://docs.brew.sh/Analytics.html
export HOMEBREW_NO_ANALYTICS=1

# Enabled fingerprint auth when using SSH
# @see https://medium.com/@prbinu/touch2sudo-enable-remote-sudo-two-factor-authentication-using-mac-touch-id-df638b7da594
# @see https://github.com/prbinu/touch2sudo
export SSH_ASKPASS=/usr/local/bin/touch2sudo
