[alias]

	st = status
	ci = commit
	co = checkout
	br = branch
	a = add -A .

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# https://filip-prochazka.com/blog/git-fixup
	cif = "!git commit --fixup=$(git-log-vgrep-most-recent-commit 'fixup!')"
	rbi = "rebase -i --autosquash"

	# Replacing old ruby based git up command, works for git >= 2.9
	# https://github.com/aanand/git-up
	up = "pull --rebase --autostash"

	# Delete local merged branches
	dlmb = "!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git"

	# https://gist.github.com/peschee/6e8f490167037cb2a3489052501ae0bb
	fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
	squash = !sh -c 'REV=$(git rev-parse $1) && git commit --squash $@ && git rebase -i --autosquash $REV^' -

[apply]

	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]

	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on OS X
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
	autocrlf = input

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[help]

	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]

	# Include summaries of merged commits in newly created merge commit messages
	log = true

[pull]

	rebase = true

[user]

	name = Peter Siska
	email = psiska@inventage.com
	
[url "https://extskp@extgit.vpbank.com/scm"]
	insteadOf = ssh://extgit.vpbank.net

[credential]
	helper = osxkeychain
